.main_body {
	position: absolute;
	left: 0;
	right: 0;
	top: 120px;
	bottom: 40px;
}

.main_status {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0.5em;
}

.main_tabs {
	margin-left: 0.5em;
}

.tab_body {
	position: relative;
	width: 100%;
	height: 100%;
}

.fmanager_left {
	position: absolute;
	width: 40%;
	height: 100%;
}

.fmanager_right {
	position: absolute;
	height: 100%;
	right: 0;
	left: 40%;
}

.fmanager_groups {
	position: absolute;
	width: 100%;
	height: 100%;
	
}

.fmanager_browser {
	position: absolute;
	width: 100%;
	height: 50%;
	bottom: 0;
	display: none;
}

.fmanager_browser_visible .fmanager_groups {
	height: 50%;
}

.fmanager_browser_visible .fmanager_browser {
	display: block;
}

.fmanager_groups_toolbar {
	padding-left: 1em;
	height: 3em;
}

.fmanager_groups_list {
	overflow: auto;
	position: absolute;
	left: 0.5em;
	right: 0;
	bottom: 0.5em;
	top: 2.5em;
}

.group_edit_form {
	position: absolute;
	top: 3em;
	left: 1em;
	right: 1em;
}

.fmanager_path {
	margin-left: 0.5em;
}

.fmanager_browser_files {
	position: absolute;
	top: 3em;
	left: 0.5em;
	right: 0;
	bottom: 0;
	overflow: auto;
}

.fmanager_load {
	position: absolute;
	top: 4em;
	left: 0.5em;
	right: 0;
	display: none;
	z-index: 2;
}

.fmanager_load_show {
	display: block;
}

.fmanager_file_name {
	margin-left: 0.5em;
	margin-right: 0.3em;
}

.fmanager_file_item {
	padding-left: 0.3em;
	padding-top: 0.3em;
	cursor: pointer;
}

.translate_left {
	position: absolute;
	bottom: 0;
	left: 0;
	top: 0;
	right: 30%;
}

.translate_right {
	position: absolute;
	bottom: 0;
	left: 70%;
	right: 0;
	top: 0;
	padding: 1em;
}

.translate_text {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 2.5em;
	overflow: auto;
}

.translate_toolbar {
	padding-left: 0.5em;
}

.translate_area_panel {
	position: absolute;
	left: 1em;
	right: 1em;
	top: 3em;
	z-index: 2;
	display: none;
}

.translate_area_panel_visible {
	display: block;
}

.translate_area_buttons {
	margin-top: 0.5em;
}

.translate_text_line {
	margin: 0.5em;
	-webkit-user-select: text;
}

.translate_text_char {
}

.translate_text {
	margin: 0.5em;
	border: 1px dashed #888888;
	border-radius: 0.5em;
}

.word {
	display: inline-block;
	vertical-align: baseline;
}

.word_transcript {
	white-space: nowrap;
	font-size: 0.9em;
	text-align: center;
}

.word_original {
	white-space: nowrap;
	text-align: center;
	font-weight: bold;
}

.main_scratchpad {
	position: absolute;
	bottom: 0.5em;
	right: 0.5em;
	z-index: 3;
	margin: 0;
	background-color: #ffffff;
}

.scratchpad_visible {
	width: 35%;
}

.scratchpad_counter {
	margin-right: 0.5em;
}

.scratchpad_title {
	display: none;
}

.scratchpad_visible .scratchpad_title {
	display: inline;
}

.scratchpad_body {
	display: none;
	max-height: 40%;
	overflow: auto;
}

.scratchpad_visible .scratchpad_body {
	display: block;
}

.translate_options_form {
	width: 100%;
}

.fmanager_file_selected {
	margin-right: 0.5em !important;
	margin-left: 0 !important;
}

.drill_panel_left {
	position: absolute;
	left: 0;
	right: 15em;
	height: 100%;
}

.drill_panel_right {
	position: absolute;
	height: 100%;
	right: 0;
	width: 15em;
}

.drill_panel_wrap {
	margin: 3em;
}

.drill_line {
	text-align: center;
	margin-top: 10px;
}

.drill_config_line {
	margin-bottom: 1em;
}

.drill_line_size {
	margin: 0.5em;
	width: 3.5em;
	text-align: center;
	display: inline-block;
}

.drill_line_hidden {
	visibility: hidden;
}

.drill_panel_top_buttons {
	text-align: left;
	padding-left: 0.5em;
}
